################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.terraform
/Deployment/.terraform
*.hcl
*.tfplan
